# Porta padrão para a aplicação
PORT=3000
# Endereço do host
HOSTNAME=0.0.0.0

# Configuração SMTP para envio do extrato convertido
SMTP_HOST=mail.oraempresas.com.br
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=mail@mail.com.br
SMTP_PASS=
SMTP_FROM=mail@mail.com.br
SMTP_TO=mail@mail.com.br
