APP_NAME=ConvertOFX
APP_ENV=production
APP_URL=http://localhost:8000

SMTP_HOST=mail.seudominio.com.br
SMTP_PORT=587
SMTP_USER=usuario@seudominio.com.br
SMTP_PASSWORD=sua_senha
SMTP_FROM=usuario@seudominio.com.br
SMTP_TO=destino@seudominio.com.br
SMTP_USE_TLS=true
SMTP_USE_SSL=false

MAX_UPLOAD_MB=10
TEMP_FILE_TTL_MINUTES=30
